// ===============================================================
//  VARIABLES
// ===============================================================

$transparent: rgba(0, 0, 0, 0);

$font-base: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', Segoe UI Symbol, 'Noto Color Emoji';
$font-head: $font-base;

$font-s: 0.75rem;
$font: 1rem;
$font-m: 1.25rem;
$font-l: 1.5rem;
$font-xl: 1.75rem;
$font-xxl: 2rem;
$font-title: 2.75rem;

// Spacing
$spacing: 1.2rem;

// width / height caps
$content-width: 67rem;
$max-width: $content-width * 1.92;

$radius: 0.25rem;

// Breakpoints
$s: 576px;
$m: 768px;
$l: 992px;
$xl: 1200px;
$max: 1670px;
$desktop: 1920px;

// Animations
$gom: cubic-bezier(0.7, 0.06, 0.42, 0.99);
$slide: cubic-bezier(0.165, 0.84, 0.44, 1);
