:root {
    --white: #fff;
    --grey: #434048;
    --black: #000;
    --darker-purple: #18161b;
    --darker-purple-30: #5d5c5f4d;
    --darkest-purple: #100f13;

    --primary-1: #686ef3;
    --primary-2: #e13e3c;

    // background
    --background: var(--darker-purple);
    --background-base: var(--darkest-purple);
    --background-aside: var(--darkest-purple);

    //text
    --color: var(--white);
    --color-alt: var(--grey);
    --color-inverted: var(--black);
    --color-highlight: var(--primary-1);

    --border: var(--darker-purple-30);

    //button
    --button-primary: var(--white);
    --button-primary-color: var(--black);

    --button-soft: var(--grey);
    --button-soft-color: var(--white);
}

body {
    margin: 0;
    background-color: var(--background-base);
    color: var(--color);
}
