:root {
    --white: #fff;
    --grey: #434048;
    --black: #000;

    --primary-0: #959bfc;
    --primary-1: #686ef3;
    --primary-2: #e13e3c;

    // background
    --background: var(--white);

    //text
    --color: var(--black);
    --color-alt: var(--grey);

    --border: var(--grey);

    //button
    --button-primary: var(--black);
    --button-primary-color: var(--white);

    --button-soft: var(--grey);
    --button-soft-color: var(--white);
}

body {
    margin: 0;
    background-color: var(--background);
    color: var(--color);
}
